@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  width: 100%;
  min-height: 60vh;
  color: white;
  background-image: url("./assets/daniel-leone-v7daTKlZzaw-unsplash\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.search_box {
  width: 40rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  color: black;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  margin: 16px;
  /* grid-auto-rows: 150px; */
  grid-auto-flow: row dense;
}
@media (max-width: 720.98px) {
  .search_box {
    width: 80vw;
  }
}
